* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  font-weight: bold;
  color: white;
}

header .container {
  max-width: 1720px;
  min-height: 55px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
header .container .logo {
  width: 27vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}
header .container .logo h3 {
  max-width: 150px;
  font-size: 2.3vw;
}
header .container .top-navber ul {
  list-style-type: none;
  width: 40vw;
  height: 100%;
  display: flex;
  flex-flow: row;
  margin-bottom: 0px;
  justify-content: space-around;
}
header .container .top-navber ul li {
  padding: 0px 15px;
  font-size: 1.3vw;
}
header .container .account {
  width: 27vw;
  text-align: end;
  font-size: 1.3vw;
}

#main-section .container {
  padding: 100px 50px;
  position: relative;
}
#main-section .container .leftside-nav {
  width: 27vw;
}
#main-section .container .leftside-nav ul {
  list-style-type: none;
  padding-left: 0px;
  width: 25px;
}
#main-section .container .leftside-nav ul li {
  padding: 5px 0px;
}
#main-section .container .leftside-nav ul .rotate {
  height: 100px;
}
#main-section .container .leftside-nav ul .rotate p {
  margin-bottom: 0px !important;
  width: 150px;
  transform-origin: center left;
}
#main-section .container .hiking-guide {
  width: 35vw;
}
#main-section .container .hiking-guide p {
  font-size: 1.3vw;
  color: #fbd784;
}
#main-section .container .hiking-guide h1 {
  font-size: 2.3vw;
}
#main-section .container .rightside-nav {
  width: 27vw;
  text-align: end;
  list-style: none;
}
#main-section .container .rightside-nav ul {
  text-align: end;
  list-style-type: none;
}
#main-section .container .rightside-nav ul li {
  padding: 10px 0px;
}

#header_main_wrap {
  background: transparent url("../img/main-background-img.png") no-repeat center center;
  background-size: cover;
  height: 1690px;
}

#container {
  max-width: 1100px;
  width: 100%;
  margin: 50px 0px;
}
#container #what-level {
  width: 100%;
}
#container #what-level .what-level-text {
  width: 60%;
  padding: 0px 60px;
}
#container #what-level .what-level-text h2 {
  font-size: 2.3vw;
}
#container #what-level .what-level-text p {
  font-size: 1.3vw;
}
#container #what-level .what-level-text .top-p {
  color: #fbd784;
  font-size: 1.3vw;
}
#container #what-level .what-level-text .read-more {
  color: #fbd784;
  font-size: 1.3vw;
}
#container #what-level .what-level-text .read-more span {
  color: #fbd784;
}
#container #what-level .what-level-img {
  width: 40%;
}
#container #what-level .what-level-img img {
  width: 100%;
  height: 100%;
}

.footer-heading h3 {
  font-size: 2.3vw;
  color: #fbd784;
}
.footer-heading p {
  font-size: 1.3vw;
}

#footer-nav ul {
  list-style-type: none;
  padding: 0px;
}
#footer-nav ul li {
  padding: 7px 0px;
  font-size: 1.3vw;
}
#footer-nav ul li span {
  color: #fbd784;
  font-size: 1.4vw;
}

@media only screen and (max-width: 576px) {
  #container {
    width: 100%;
  }
  #container #what-level {
    width: 100%;
  }
  #container #what-level .what-level-img {
    width: 100%;
    padding: 0px 50px;
  }
  #container #what-level .what-level-text {
    width: 100%;
    padding-bottom: 50px;
  }
  #container #what-level .hikink-gear-text {
    padding-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
